*{
    box-sizing: border-box;
    font-family: 'GFS Neohellenic', sans-serif;
}

html, body{
    padding: 0;
    margin: 0;
    border: 0;
}

body{
    background-image:url('../images/wallpaper.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
