// Colours
$color-black:#2c2c2c;
$color-contrasting:#05e1fa;
$color-blue:#1B9AAA;
$color-inverse:#FFFFFF;

// Spacing
$spacer-0:0px;
$spacer-1:10px;
$spacer-2:20px;
$spacer-3:30px;
$spacer-4:40px;
$spacer-md:5px;

// Fonts
$font-md:16px;
$font-lg:20px;
$font-xlg:24px;